*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://whatsmynameagain.nekoweb.org/images/backgrounds/babypink.gif");
    overflow-y: hidden;
}

#back-arrow{
    position: fixed;
    top:20px;
    left:20px;
    width:50px;
}

#shelf{
    display: block;
    position: relative;
    height: 112vh;
    margin: auto;
}